@import './base.css';
@import 'tailwindcss';
@import 'tailwindcss/utilities';

@layer utilities {
  .bg-background {
    background-color: var(--color-background);
  }

  .text-base {
    color: var(--color-text);
  }
  .text-muted {
    color: var(--color-text-muted);
  }
  .text-soft {
    color: var(--color-text-soft);
  }
  .text-heading {
    color: var(--color-heading);
  }
  .text-link {
    color: var(--color-link);
  }

  .text-success {
    color: var(--color-success);
  }
  .text-accent {
    color: var(--color-accent);
  }
  .text-danger {
    color: var(--color-danger);
  }

  .border-default {
    border-color: var(--color-border);
  }

  .bg-gradient-ls {
    background-image: var(--color-gradient-ls);
  }
}
