@import './base.css';
@import 'tailwindcss';
@import 'tailwindcss/utilities';

@layer utilities {
  .bg-background {
    background-color: var(--color-background);
  }

  .text-base {
    color: var(--color-text);
  }
  .text-muted {
    color: var(--color-text-muted);
  }
  .text-soft {
    color: var(--color-text-soft);
  }
  .text-heading {
    color: var(--color-heading);
  }
  .text-link {
    color: var(--color-link);
  }

  .text-success {
    color: var(--color-success);
  }
  .text-accent {
    color: var(--color-accent);
  }
  .text-danger {
    color: var(--color-danger);
  }

  .text-gold {
    color: var(--color-gold);
  }

  .fill-gold {
    fill: var(--color-gold);
  }

  .stroke-gold {
    stroke: var(--color-gold);
  }

  .border-default {
    border-color: var(--color-border);
  }

  .bg-gradient-ls {
    background-image: var(--color-gradient-ls);
  }

  .apexcharts-marker {
    fill: url(#marker-gradient);
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
  }
}

@layer components {
  .custom-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-border);
    border-radius: 50%;
    background: var(--color-background);
    position: relative;
    display: inline-block;
  }

  .custom-radio:checked {
    border: 1px solid var(--color-border);
  }

  .custom-radio:checked::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(to bottom, var(--color-green), var(--color-accent));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@layer utilities {
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s ease;
  }
  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }

  .slide-fade-enter-active {
    transition: all 1s ease;
  }
  .slide-fade-enter-from {
    transform: translateY(10px);
    opacity: 0;
  }
  .slide-fade-enter-to {
    transform: translateY(0);
    opacity: 1;
  }
}
